.header__list {
    list-style-type: none;
    display: flex;
    gap:10px;
    align-items: center;
    margin-bottom: 10px;;
   
}

.header__title  {
    background-color: transparent;
    border: none;
    font-size: 2.2rem;
    outline: none;
    
  
}

.title {
    font-size: 2.2rem;
    font-weight: 350;
    width:50%;
}

.sub__heading {
    font-size: 0.875rem;
    padding-left: 55px;;
    margin-bottom: 30px;
}