.sidebar__container {
    width:50%;
    background-color: #F8FAFC;
    position: absolute;
    right:1%;
    top:2%;
    border-radius: 10px;;
    padding:20px;
 
}

.sidebar__title {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 10px;;
}

label {
    font-size: 0.7rem;
    color: #00000033;
    margin-bottom: 5px;;
}

.sidebar__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.close__icon {
    cursor: pointer;
    padding:7px;
    background-color: transparent;
    border:1px solid #00000033;
    border-radius: 10px;;

}

.form {
    display: flex;
    flex-direction: column;
    /* gap:20px; */
}



.form input {

    border-radius: 10px;
    border: 1px solid #00000033;
    padding:10px;
    margin-bottom: 20px;
}

.task {
    height:50px;
}

textarea {
    font-family: "Outfit", sans-serif;

}

.description {
    border-radius: 10px;
    height:150px;
    border: 1px solid #00000033;
    padding:10px;
    margin-bottom: 20px;
}

.btn__container {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
   
}

#submit {
    display: flex;
 
    justify-content: space-between;
    width:20%;
    border-radius: 20px;
    border: none;
    padding:9px 25px;
    background-color: #3662E3;
    color: #E3E8EF;
    background-image: url(/images/Done_round.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    cursor: pointer;
}

#save {
    display: flex;

    justify-content: space-between;
    width:20%;
    border-radius: 20px;
    border: none;
    padding:9px 25px;
    background-color: #3662E3;
    color: #E3E8EF;
    background-image: url(/images/Done_round.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    cursor: pointer;
    
}



#delete {
    display: flex;

    justify-content: space-between;
    width:20%;
    border-radius: 20px;
    border: none;

    padding:9px 25px;
    background-color: #97A3B6;
    background-image: url(/images/Trash.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    color: #E3E8EF;
    cursor: pointer;
    
}

@media(max-width:640px) {
    .sidebar__container {
        width:100%;
    }

    #delete {
        width:30%;
    }
    #save {
        width:30%;
    }
}



